.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #4c5059;
  color: white;
}

.row {
  height: 600px;
}

.card {
  background-color: black;
}

.card-img-top {
  height: 60%;
}

.card-title {
  padding: 10px;
  height: 30%;
  padding-top: 5%;
  padding-bottom: 15%;
}

.rating {
  height: 10%;
  line-height: 40px;
}

.star-reg {
  height: 25px;
}

.star-sm {
  height: 15px;
}

.star-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.star-list-item {
  display: inline;
  margin: 0 2px;
}